<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">面板标题</h3>
        </div>
        <div class="panel-body">
            <p>面板内容</p>
        </div>
    </div>

    <div class="list-group">
        <a href="" class="list-group-item ">
            <h4 class="list-group-item-heading">免费域名注册</h4>
            <p class="list-group-item-text">您将通过网页进行免费域名注册</p>
        </a>
        <a href="" class="list-group-item">
            <h4 class="list-group-item-heading">24 * 7</h4>
            <p class="list-group-item-text">我们提供全天候服务</p>
        </a>
    </div>



    <div class="panel panel-primary">
        <div class="panel-heading">
            面板标题
        </div>
        <div class="panel-body">
            <p>
                这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
            这是一个基本的面板内容。这是一个基本的面板内容。
            </p>
        </div>
        <div class="panel-body">
                <table class="table">
                  <caption>基本的表格布局</caption>
                  <thead>
                    <tr>
                      <th>名称</th>
                      <th>城市</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tanmay</td>
                      <td>Bangalore</td>
                    </tr>
                    <tr>
                      <td>Sachin</td>
                      <td>Mumbai</td>
                    </tr>
                  </tbody>
                </table>
        </div>
    </div>
</body>
</html>